<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJBfOFKDR7dw8Y1_1iDKhJ9L8Dn9ua9Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>452086529308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gogoo.driver</string>
	<key>PROJECT_ID</key>
	<string>bogie-7ea4f</string>
	<key>STORAGE_BUCKET</key>
	<string>bogie-7ea4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452086529308:ios:6c9dd4a68ea459a9274ed9</string>
</dict>
</plist>